ul {
    margin-top: 10px;
    padding-inline-start: 0;
    list-style: none;
    li {
        // border-bottom: 1px solid #949494;
        padding: 10px;

        .pos {
            color: #949494;
        }

        .entry {
            border-bottom: 1px solid #949494;
        }
    }
}