.card-image {
  margin-top: 5px;
  max-width: 100%;
  height: 215px;
}

.card-video {
  margin-top: 5px;
  max-width: 100%;
  height: 215px;
}

.file-container {
  height: 220px;
  text-align: center;
}

.card-title {
  height: 56px;
  overflow: hidden;
}

.file-item {
  border: 1px solid #afafaf;
  // margin-left: 10px;
}
