<nav aria-label="Page navigation example" *ngIf="paginationData && pagination.last_page != 1">
  <ul class="pagination justify-content-center">

    <li class="page-item">
      <a class="page-link ltr" href="javascript:void(0)" (click)="changePage(1)">
        &#8810;
      </a>
    </li>
    <li [class.disabled]="pagination.current_page == 1">
      <a class="page-link" href="javascript:void(0)" (click)="changePage(pagination.current_page - 1)">
        &#60;
      </a>
    </li>
    <li class="page-item" *ngFor="let p of pages" [class.active]="p == pagination.current_page" [class.disabled]="p == '...'">
      <a class="page-link" *ngIf="p != '...'" href="javascript:void(0)" (click)="changePage(p)">
        <span>{{p}}</span>
      </a>
      <span *ngIf="p == '...'">...</span>

    </li>
    <li class="page-item" [class.disabled]="pagination.last_page == pagination.current_page">
      <a class="page-link" href="javascript:void(0)" (click)="changePage(pagination.current_page + 1)">
        &#x3e;
      </a>
    </li>
    <li class="page-item">
      <a class="page-link ltr" href="javascript:void(0)" (click)="changePage(pagination.last_page)">
          &#x226B;
      </a>
    </li>
  </ul>
</nav>
<div *ngIf="pagination" class="text-center">
  <small>
    {{pagination.from}}
    تا {{pagination.to}}
    از {{pagination.total}} رکورد
  </small>
</div>
