<app-loading [isLoading]="loading"></app-loading>
<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">ورود به سامانه</h2>
        <div *ngIf="errors.message" class="text-danger">{{errors.message}}</div>
        <div *ngIf="signinSucceed==true" class="text-success">ورود با موفقیت انجام شد! در حال بارگیری...</div>
        <form class="login-form" (ngSubmit)="login()" #loginForm="ngForm">
          <div class="form-group">
            <label>ایمیل</label>
            <input type="text" name="email" class="form-control ltr" id="email" [(ngModel)]="user.email">
            <div class="text-danger" *ngIf="errors.email">{{errors.email[0]}}</div>
          </div>
          <div class="form-group">
            <label>رمز عبور</label>
            <input type="password" class="form-control ltr" name="password" id="password" [(ngModel)]="user.password">
            <div class="text-danger" *ngIf="errors.password">{{errors.password[0]}}</div>
          </div>
          <div class="form-check">
            <button type="submit" class="btn btn-login float-right">ورود</button>
            &nbsp;
            <a [routerLink]="['/forget_password']">فراموشی رمز</a>
          </div>

        </form>
      </div>
      <div class="col-md-8 banner-sec">

      </div>
    </div>
  </div>
</section>
